<style>

.tab-container {
  display: flex;
  flex-wrap: wrap;
}

.tab-item {
  padding: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid black;
  margin-left: 5px; margin-right: 5px;  
  border-radius: 5px;
}

.tab-item button {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
} .tab-item button:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.605);
  transition: 0.4s;
}

.bold {
  font-weight: bold;
}

</style>

<main class="main">

  <div class="tab-container">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div [className]="tab.visible ? 'tab-item bold' : 'tab-item'">
        <div (click)="openTab(tab)">
          {{ tab.name }}
          <button (click)="removeTab(tab)">x</button>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container
    *ngFor="let tab of tabs; let i = index">
      <app-editor-tab
        (tabAdded)="onTabAdded($event)"
        (configUpdated)="onConfigUpdated($event)"
        *ngIf="tab.visible"
        [config]="config$"
        [tab]="tab">
      </app-editor-tab>
  </ng-container>

</main>


<router-outlet />
